[submodule "agent/resources"]
	path = agent/resources
	url = https://github.com/m2ux/agent-resources.git
[submodule "agent/metadata"]
	path = agent/metadata
	url = https://github.com/m2ux/ai-metadata.git
